.jfddl7-button{
    padding: 20px;
    margin: 20px;
    border: 1px solid #000;
    border-radius: 5px;
    color: #fff;
}

.jfddl7-button__green{
    background-color: rgb(16, 100, 16);

}

.jfddl7-button__yellow{
    background-color: rgb(221, 218, 62);
}

.jfddl7-button__red{
    background-color: rgb(156, 13, 13);
}